{% extends 'base.html' %}

{% block head %}
    <title>Recipe planner</title>
{% endblock %}

{% block body %}
    <form method="post">
        {{ form.hidden_tag() }}
        <div>
            {{ form.input_text.label }}<br>
            {{ form.input_text() }}
        </div>
        {{ form.submit() }}
        
        <input type="hidden" id="selectedRecipe" name="selectedRecipe">

        <table>
            <tr>
                <th>NAME</th>
                <th>ACTION</th>
            </tr>
            {% for recipe in recipes %}
                <tr>
                    <td>{{ recipe.NAME }}</td>
                    <td><button type="button" onclick="alertValue(this)">Click Me</button></td>
                </tr>
            {% endfor %}
        </table>
    </form>

    <script>
        function alertValue(button) {
            let recipeName = button.parentElement.previousElementSibling.textContent;
            console.log("Button clicked. Recipe Name:", recipeName); // New line for debugging
            document.getElementById("selectedRecipe").value = recipeName;
            let form = document.querySelector('form');
            form.requestSubmit();
        }
    </script>
{% endblock %}
